.w3-btn,.w3-btn-block,.w3-button{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}

.w3-button{color:#000;background-color:#f1f1f1;padding:8px 16px}.w3-button:hover{color:#fff!important;background-color:#000!important}

.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}

.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}

.w3-closebtn:hover,.w3-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}

.w3-pagination{display:inline-block;padding:0;margin:0}.w3-pagination li{display:inline}

.w3-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}

.w3-pagination li a:hover{background-color:#ccc}

.w3-input-group,.w3-group{margin-top:24px;margin-bottom:24px}

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}

.w3-label{color:#009688}.w3-input:not(:valid)~.w3-validate{color:#f44336}

.w3-block{display:block;width:100%}

none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
    
.w3-topnav a{display:block}.w3-navbar li:not(.w3-opennav){float:none;width:100%!important}.w3-navbar li.w3-right{float:none!important}
    
.w3-topnav .w3-dropdown-hover .w3-dropdown-content,.w3-navbar .w3-dropdown-click .w3-dropdown-content,.w3-navbar .w3-dropdown-hover .w3-dropdown-content,.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
    
.w3-topnav,.w3-navbar{text-align:center}.w3-hide-small{display:none!important}.w3-layout-col,.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
    
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}

.w3-left{float:left!important}.w3-right{float:right!important}

.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}

.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}

.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}

.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}

.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}

.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}

.w3-section{margin-top:16px!important;margin-bottom:16px!important}

.w3-padding-tiny{padding:2px 4px!important}.w3-padding-small{padding:4px 8px!important}

.w3-container{padding:0.01em 16px}

.w3-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}

.w3-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}

.w3-black, w3.hover-green:hover{color:#fff!important;background-color:#222222!important}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}